@font-face {
    font-family: 'neu';
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: 'neul';
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: 'neur';
    font-weight: 100;
    src: url(./NeueHaasDisplayRoman.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neu';
    /* background-color: #EFEAE3; */
}

.main {
    /* background-color: black; */
    position: relative;
    z-index: 10;
}

html,
body {
    height: 100%;
    width: 100%;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    z-index: 100;

}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

nav h3{
    display: none;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid rgba(121, 121, 121, 0.699);
    border-radius: 50px;
    font-weight: 500;
    color: rgb(61, 61, 61);
    position: relative;
    transition: all ease 0.4s;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: rgb(61, 61, 61);
    z-index: 9;
    position: relative;
}

#nav-part2 h4:hover a {
    color: #fff;
}

#center {
    padding: 0 10px;
    height: 82vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #8686865b;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 28vw;
    font-size: 1.9vw;
    line-height: 2vw;
    font-weight: 500;
}

#center h1 {
    font-size: 11vw;
    text-align: end;
    line-height: 9vw;
    font-weight: 900;
}

.page1 video {
    position: relative;
    margin-top: 8vh;
    width: 100%;
    border-radius: 20px;
}

#hero-shape {
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 85vh;
}

#hero1 {
    background-color: #FE330A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
    position: absolute;
}

#hero2 {
    background: linear-gradient(#FE330A, #ff5e00);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(28px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero3 {
    background: linear-gradient(#FE330A, #ff5e00);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(28px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    padding: 10vw 0;
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

.con {
    /* margin-bottom: 20px; */
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

#moving-text h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

.gola {
    background-color: #FE330A;
    height: 80px;
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2bottom {
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 6vw;
    margin-top: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;

}

#page2bottom h1 {
    font-size: 4vw;
    font-weight: bolder;
    width: 65%;
}


#bottompart2 {
    width: 20%;
    margin-top: 69vh;

}

#bottompart2 img {
    width: 100%;
    border-radius: 15px;
}

#bottompart2 p {
    font-family: neur;
    font-family: 100;
    margin-top: 2vw;
}

#page2 #gooey {
    height: 40vw;
    width: 40vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top, #FE330A, #fe780a);
    top: 60%;
    left: 25%;
    filter: blur(30px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes gooey {
    from {
        transform: translate(10%, -10%) skew(0);
    }

    to {
        transform: translate(-10%, 10%) skew(-13deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-top: 10vw;
}

.elem {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgba(131, 131, 131, 0.5);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
    cursor: pointer;
}

.elem h2 {
    font-size: 4vw;
    position: absolute;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 115, 0, 0.774);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.elem:hover .overlay {
    top: 0%;
}

#fixed-image {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 90%;
    height: 100%;
}

.swiper-slide {
    padding-top: 3vh;
    padding-left: 2vw;
    font-size: 18px;
    border-left: 1px solid #86868673;
    width: 30%;
}

.swiper-slide p {
    margin-top: 5vh;
}


#page5 {
    height: 114vh;
    width: 100%;
    /* display: none; */
    /* background-color: #EFEAE3; */
}

footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 2vw;
}

footer h1 {
    font-size: 22vw;

}

.footerdiv {
    height: 20vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.footerdiv ul li {
    padding-left: 4vw;
    list-style: none;
    font-size: 2vw;
}

.footerdiv div p {
    font-family: neul;
    width: 30vw;
    font-size: 2vw;
    line-height: 2vw;
}

input {
    font-family: neul;
    padding: 1vw 4vw;
    z-index: 9999;
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
    border-bottom: 1px solid rgb(250, 250, 250);
}


#footerend {
    width: 100%;
    height: 10vh;
    border-top: 1px solid #fff;
}


#full-scr{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#fulldiv1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width:600px) {
    .page1 {
        min-height: 100vh;
        width: 100%;
        padding: 0 0vw;
    }
    
    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }
    nav img{
        height: 9vh;
        transition: all ease 0.2s ;
    }
    #nav-part2 {
        display: none;
    }
    
    nav h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #adadad;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw ;
    }
    
    #center {
        padding: 0 10px;
        height: 62vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        align-items: flex-end;
        padding: 11vw 5vw;
        justify-content: space-between;
        border-bottom: 1px solid #8686865b;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }
    
    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
        font-weight: 500;

    }
    
    #center h1 {
        font-size: 16vw;
        text-align: right;
        line-height: 14vw;
        font-weight: 900;
    }
    
    .page1 video {
        position: relative;
        margin-top: 4vh;
        height: 70vh;
        width: 92%;
        margin-left: 4%;
        border-radius: 15px;
        object-fit: cover;
        object-position: center;
    }
    
    #hero-shape {
        position: absolute;
        height: 86vw;
        width: 76vw;
        right: 0;
        top: 70vh;
    }
    
    #page2 {
        padding: 10vw 0;
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
    }
    
    .con {
        /* margin-bottom: 20px; */
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }
    
    #moving-text::-webkit-scrollbar {
        display: none;
    }
    
    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }
    
    .gola {
        background-color: #FE330A;
        height: 25px;
        width: 25px;
        display: inline-block;
        border-radius: 50%;
        margin: 2vw 2vw;
    }
    
    @keyframes move {
        from {
            transform: translateX(0);
        }
    
        to {
            transform: translateX(-100%);
        }
    }
    
    
    
    #page2bottom {
        height: 80vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        margin-top: 7vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    
    }
    
    #page2bottom h1 {
        font-size: 8.2vw;
        line-height: 9vw;
        font-weight: bolder;
        width: 100%;
    }
    
    
    #bottompart2 {
        width: 70%;
        margin-top: 8vh;
    
    }
    
    #bottompart2 img {
        width: 100%;
        border-radius: 10px;
    }
    
    #bottompart2 p {
        font-size: 3vw;
        font-family: neur;
        font-family: 100;
        margin-top: 2vw;
    }
    
    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top, #FE330A, #fe780a);
        top: 40%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes gooey {
        from {
            transform: translate(10%, -10%) skew(0);
        }
    
        to {
            transform: translate(-10%, 10%) skew(-13deg);
        }
    }
    
}

#loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right, orange, rgb(255, 102, 0));
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader :nth-child(2 ){
    animation-delay: 2s;
}
#loader :nth-child(3){
    animation-delay: 3s;
}


@keyframes load {
    0%{
       opacity: 0;
    }

    10%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 8vw;
    }


    #fulldiv1 a{
        text-decoration: none;
        color: #000000;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 15vw;
        padding: 1vw 3vw;
        padding-top: 1vh;
        line-height: 10vw;
    }
    #fulldiv1 .ia{
        text-decoration: none;
        color: #000000;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 15vw;
        /* padding: 1vw 15vw; */
        padding-top: 25vh;
        line-height: 10vw;
    }
}